<h3>Posts (<%= @user.posts.count %>) </h3>
  <ol>
    <% @user.posts.each do |post| %>
      <li>
        <span><%= post.content %></span>
        <br>
        <span>
          posted <%= time_ago_in_words(post.created_at) %> ago
          to <%= link_to post.board.name, post.board %>
        </span>

        <% if @current_user == post.user %>
          <%= link_to "delete post", post, method: :delete,
                                           data: { confirm: "are you sure?" } %>
        <% end %>

      </li>
    <% end %>
  </ol>
