<% provide(:title, "EDIT BOARD") %>
<% provide(:button_text, "update") %>

<h1>edit board</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@board) do |f| %>

    <% if @board.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@board.errors.count, "error") %>.
        </div>
        <ul>
        <% @board.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :info %>
      <%= f.text_area :info, class: 'form-control' %>

      <%= f.submit yield(:button_text), class: "btn btn-lg" %>
    <% end %>

    <p>
      <%= link_to "back to board", board_path(@board) %>
    </p>

  </div>
</div>
