<% provide(:title, @board.name.upcase) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
        <%= @board.name %>
      </h1>
        <p><%= @board.info %></p>

        <% if logged_in? %>
          <div id="join_form">
            <% if @current_user.member?(@board) %>
              <%= render 'unjoin' %>
            <% else %>
              <%= render 'join' %>
            <% end %>
          </div>
        <% end %>

        <p>
          created <%= time_ago_in_words(@board.created_at) %> ago
        <br>
          last active <%= time_ago_in_words(@board.updated_at) %> ago
        </p>

        <% if @membership.admin? %>
          <p>
            <%= link_to "edit board", edit_board_path(@board) %>
          </p>
        <% end %>

        <h3>admins</h3>
          <ol>
            <% @admins.each do |admin| %>
              <li>
                <%= link_to "#{admin.user.name}", user_path(admin.user.id) %>
              </li>
            <% end %>
          </ol>

          <div id="members">
            <%= render 'members' %>
          </div>


    </section>
  </aside>

  <aside class="col-md-8">

    <%= render 'shared/post_form' %>

    <% if @board.posts.any? %>
      <h3>Posts (<%= @board.posts.count %>) </h3>
      <ol>
        <%= render @posts %>
      </ol>
    <% end %>
  </aside>

</div>
