<% provide(:title, @board.name.upcase) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
        <%= @board.name %>
      </h1>
        <p>
          <%= @board.info %>
        </p>




        <% if logged_in? %>
          <% if @current_user.member?(@board) %>
            <%= form_for(@current_user.memberships.find_by(board_id: @board.id),
                        html: { method: :delete }) do |f| %>
              <%= f.submit "leave group", class: "btn btn-primary" %>
            <% end %>
          <% else %>
            <%= form_for(@membership) do |f| %>
              <%= hidden_field_tag("membership[user_id]", @current_user.id) %>
              <%= hidden_field_tag("membership[board_id]", @board.id) %>
              <%= f.submit "join", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>

        <p>
          created <%= time_ago_in_words(@board.created_at) %> ago
        <br>
          last active <%= time_ago_in_words(@board.updated_at) %> ago
        </p>

        <% if @membership.admin? %>
          <p>
            <%= link_to "edit board", edit_board_path(@board) %>
          </p>
        <% end %>

      <h2>admins</h2>
        <ul>
          <% @admins.each do |admin| %>
            <li>
              <%= link_to "#{admin.user.name}", user_path(admin.user.id) %>
            </li>
          <% end %>
        </ul>


      <h2>members</h2>
        <ul>
          <% @board.users.each do |user| %>
            <li>
              <%= link_to "#{user.name}", user_path(user) %>
            </li>
          <% end %>
        </ul>

    </section>
  </aside>
</div>
