<% provide(:title, @board.name.upcase) %>

<div class="row">
  <aside class="col-md-4">

    <div id='board'>
      <%= render @board %>
    </div>
    
    <div id="membership">
      <% if logged_in? && !@membership.admin? %>
        <% if current_user.member?(@board) %>
          <%= render 'memberships/destroy' %>
        <% else %>
          <%= render 'memberships/create' %>
        <% end %>
      <% end %>
    </div>

    <div id="admins">
      <h3>admins</h3>
      <%= render 'users/users', users: @admins %>
    </div>
    <div id="members">
      <h3>members</h3>
      <%= render 'users/users', users: @users %>
    </div>

  </aside>

  <aside class="col-md-8">

    <% if logged_in? %>
      <div id="posts-form">
        <%= render 'shared/post_create' %>
      </div>
    <% end %>
    <div id="boardposts">
      <%= render @posts %>
    </div>

  </aside>

</div>
