
<% provide(:title, @board.name.upcase) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1><%= @board.name %></h1>
        <p><%= @board.info %></p>
        <p>created <%= time_ago_in_words(@board.created_at) %> ago</p>

        <% if @membership.admin? %>
          <%= link_to "edit board", edit_board_path(@board) %>
        <% end %>
        <% if logged_in? && !@membership.admin? %>
          <div id="join_form">
            <% if current_user.member?(@board) %>
              <%= render 'unjoin' %>
            <% else %>
              <%= render 'join' %>
            <% end %>
          </div>
        <% end %>

        <div id="admins">
          <%= render 'admins' %>
        </div>
        <div id="members">
          <%= render 'members' %>
        </div>

    </section>
  </aside>

  <aside class="col-md-8">

    <% if logged_in? %>
      <div id="post_create">
        <%= render 'shared/post_create' %>
      </div>
    <% end %>
    <div id="boardposts">
      <%= render @posts %>
    </div>

  </aside>

</div>
