<% provide(:title, @board.name.upcase) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
        <%= @board.name %>
      </h1>
        <p>
          <%= @board.info %>
        </p>

        <p>
          created <%= time_ago_in_words(@board.created_at) %> ago
        <br>
          last active <%= time_ago_in_words(@board.updated_at) %> ago
        </p>

      <h1>members</h1>
        <ul>
          <% @board.users.each do |user| %>
            <li>
              <%= link_to "#{user.name}", user_path(user) %>
            </li>
          <% end %>
        </ul>

    </section>
  </aside>
</div>
