<% provide(:title, @board.name.upcase) %>

<div class="row">
  <aside class="col-md-4">

    <div id='board'>
      <%= render @board %>

      <% if @membership.admin? %>
        <%= link_to "edit board", edit_board_path(@board), remote: true %>
      <% end %>
    </div>
    
    <% if logged_in? && !@membership.admin? %>
      <div id="join_form">
        <% if current_user.member?(@board) %>
          <%= render 'unjoin' %>
        <% else %>
          <%= render 'join' %>
        <% end %>
      </div>
    <% end %>

    <div id="admins">
      <h3>admins</h3>
      <%= render 'users/users', users: @admins %>
    </div>
    <div id="members">
      <h3>members</h3>
      <%= render 'users/users', users: @users %>
    </div>

  </aside>

  <aside class="col-md-8">

    <% if logged_in? %>
      <div id="post_create">
        <%= render 'shared/post_create' %>
      </div>
    <% end %>
    <div id="boardposts">
      <%= render @posts %>
    </div>

  </aside>

</div>
