<div class='well well-sm'>
  <span><%= post.content %></span>
  <br>
  <span>
    posted <%= time_ago_in_words(post.created_at) %> ago
    to <%= link_to post.board.name, post.board %>
    <% if post.user.avatar? %>
          <%= link_to avatar_for(post.user), size: 50 %>
    <% end %>
  </span>

  <% if current_user == post.user %>
    <%= link_to "delete post", post, method: :delete,
                                      data: { confirm: "are you sure?" },
                                      class: 'pull-right' %>
  <% end %>

</div>